body {
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
  color: white;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  font-family:'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0px 0px;
}
.navbar{
  background: linear-gradient(to right, #8557d0 , #9d5aa5);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.logo  img{
  width: 75px;
  height: 75px;
  margin-top: 16%;
  text-align: center;
}
.logo p{
  margin-top: -5%;
  font-size: 1.5rem;
  text-align: center;
  margin-left: -15%;
}
div.logo{
  float: left;
}
nav ul{
  float: right;
  margin-right: 0px;
  margin: 10px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  
}
nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
nav ul li a.active, nav ul li a:hover{
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.container {
  margin: auto;
  background: linear-gradient(#b023c2 15%, #600be7);
  padding: 3rem;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
  background-size: 100% 100%;
  overflow: hidden;
  width: 500px;
  height: 600px;  
}

.form {
  display: grid;
  align-items: center;
}
label {
  padding: 10px;
}

.title {
  margin: 0;
}

label {
  font-weight: bold;
}

.charamountcont {
  display: flex;
}

.numberinput {
  width: 2rem;
}

#password {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  position: relative;
}

.button {
  margin: 10px;
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  background-color: #FFFFFF33;
}

/* styling copy icon present beside generated password */
#copy_icon{
  position: absolute;
  right: 3%;
  color: rgb(85, 85, 85);
  font-size: 30px;
  cursor: pointer;
}

#copy_icon:hover{
  color: rgb(167, 162, 162);
}

.left  img{
  width: 70px;
  height: 70px;
  margin-top: 30%;
}

.left p{
  margin-bottom: 20%;
}

footer{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  height: 18vh;
  margin-top: 10%;
  background: linear-gradient(to right, #8557d0 , #9d5aa5);
  position: absolute;
  bottom: 0;

}
.left{
  padding-left: 10%;
  margin-bottom: 0%;
}
.left p{
  margin-top: -5%;
  font-size: 20px;
}
.left img{
  margin-left: 20%;
  text-align: center;
}
.right{
  padding-right: 5%;
  text-align: center;
  padding-left: 8%;
  margin-bottom: 2%;
}
.right p{
 font-size: 17px;
 margin: 22px;

}
.center{
  text-align: center;
}
.middle{
  padding-left: 10%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -9%;
  margin-right: 6%;
}
.social {
  font-size: large;
  text-decoration: none;
  color: white;
}
.social:hover {
  color: #600be7;
  transition: 0.2s;
}

i{
  margin: 0px 10px 0px 10px;
}
@media (max-width :952px){
  div.log{
    font-size:30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width :858px)
{
  .checkbtn{
    display: block;
  }
  .navitems{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 0;
    left:-100%;
    text-align: center;
    transition: all .5s;
    
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .navitems{
    left:0;
  }
}
/*splash screen*/
.splash{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #8557d0 , #9d5aa5) ;
  background-blend-mode:overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.splash img{
  width: 7%;
}

.splash.invisible{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100%;
  opacity: 0;
  background: linear-gradient(to right, #8557d0 , #9d5aa5);;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

@keyframes fadein{
  to{
    opacity: 1;
  }
}

.fadein{
  opacity: 0;
  animation: fadein 1s ease-in forwards;
}

@media only screen and (max-width: 1140px){
  .right p{
    margin-left: 4%;
    font-size: 17px;
  }
  .social {
    font-size: large;
    text-decoration: none;
    color: white;
  }
}
@media only screen and (max-width: 690px){
  footer{
    font-size: 0.8rem;

  }
  .middle{
    padding-left: 15%;
  }

  .left p{
    font-size: 1.2rem;
  }
  .left img{
    margin-left: 15%;
  }
}
