body {
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: linear-gradient(#b023c2 15%, #600be7);
  padding: 3rem;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.form {
  display: grid;
  align-items: center;
}
label {
  padding: 10px;
}

.title {
  margin: 0;
}

label {
  font-weight: bold;
}

.charamountcont {
  display: flex;
}

.numberinput {
  width: 2rem;
}

.password {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  position: relative;
}

.button {
  margin: 10px;
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  background-color: #FFFFFF33;
}

/* styling copy icon present beside generated password */
#copy_icon{
    position: absolute;
  right: 3%;
  color:gray;
  font-size: 30px;
  cursor:pointer;
}

.left  img{
  width: 70px;
  height: 70px;
  margin-top: 30%;
}

.left p{
  margin-bottom: 20%;
}

footer{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  height: 18vh;
  margin-top: 10%;
  background: linear-gradient(to right, #8557d0 , #9d5aa5);
  position: fixed;
  bottom: 0;

}
.left{
  padding-left: 10%;
  margin-bottom: 0%;
}
.left p{
  margin-top: -5%;
  font-size: 20px;
}
.left img{
  margin-left: 20%;
  text-align: center;
}
.right{
  padding-right: 10%;
  text-align: center;
  padding-left: 8%;
}
.right p{
 font-size: 20px;
 margin: 5px;

}
.center{
  text-align: center;
}
.middle{
  padding-left: 10%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.ul-left

.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -9%;
  margin-right: 6%;
}
.social {
  font-size: x-large;
  text-decoration: none;
  color: white;
}
.social:hover {
  color: #600be7;
  transition: 0.2s;
}

i{
  margin: 0px 10px 0px 10px;
}
@media only screen and (max-width: 1140px){
  .right p{
    margin-left: 4%;
    font-size: 17px;
  }
  .social {
    font-size: large;
    text-decoration: none;
    color: white;
  }
}
@media only screen and (max-width: 690px){
  footer{
    font-size: 0.8rem;

  }
  .middle{
    padding-left: 15%;
  }

  .left p{
    font-size: 1.2rem;
  }
  .left img{
    margin-left: 15%;
  }
}
