body {
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Montserrat', sans-serif;
}

.container {
  background: linear-gradient(#b023c2 15%, #600be7);
  padding: 3rem;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  align-items: center;
}
label {
  padding: 10px;
}

.title {
  margin: 0;
}

label {
  font-weight: bold;
}

.charamountcont {
  display: flex;
}

.numberinput {
  width: 2rem;
}

.password {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
}

.button {
  margin: 10px;
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  background-color: #FFFFFF33;
}